.customdropdown {
    background-color: #fffefa !important;
    border: 1px solid #7a501f;
    border-radius: 4px;

    &:hover {
        background-color: #451c00;
        border: 1;
    }

    &:active,
    &:focus {
        border-color: white;
        box-shadow: 0 0 10px #6db575;
    }

    &:disabled {
        background-color: #d9d9d9;
    }

    &::placeholder {
        color: rgba(0, 0, 0, 0.7);
    }
}

.labelForm {
    color: #451c00;

}

.content-select select:hover {
    background: #B1E8CD;
}

.text-selection-disable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}