.custom-icon{
    color: #6db575;
    background-color: #fffefa;
    font-size: 25px;
}
.custom-icon-red{
    color: #ef0a0a;
    background-color: #fffefa;
    font-size: 25px;
}
.data-item{
    border-bottom:solid #6db575 2px;
}
.custom-icon-big{
    color: #6db575;
    background-color: #fffefa;
    font-size: 35px;
}