@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html {
  --webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  --webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: #fffefa;
  margin: 20px 0;
  padding: 0;
  line-height: 1;
  font-family: 'Merriweather', serif;
  color: black;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sideBarLetter {
  font-family: Merriweather;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;

}

.date-picker-container {
  position: relative;
}

.calendar-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

button.custombtn-primary:focus {
  outline: none;
}

.no-active-style:active {
  background-color: #7a501f !important;

}